@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #e9e9e9;
    margin: auto;
    color: black;
    font-family: "Josefin Sans", sans-serif;
}

h1,h3,h2{
    margin: 0%;
    font-family: "Protest Guerrilla", sans-serif;
}

header {
    margin: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
}

nav {
    width: 50%;
    margin: 50px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

main{
    background-color: white;
    width: 55%;
    margin: auto;
}

main h1{
    font-size: 90px;
}

.sub-heading {
    font-size: 36px;
}

.intro, .multi-paragraph{
    padding: 50px;
}

.intro p {
    font-size: larger;
    margin-bottom: 0%;
}

.multi-paragraph{
    column-count: 3;
    column-gap: 50px;
    padding-top: 0%;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-album{
    grid-area: 1/1/span 2/ span 2
}

.album-cover-1{
    grid-area: 1/3/span 1/ span 1
}

.album-cover-2{
    grid-area: 1/4/span 1/ span 1
}

.album-cover-3{
    grid-area: 2/3/span 1/ span 1
}

.album-cover-4{
    grid-area: 2/4/span 1/ span 1
}

.author-section {
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.author-section .sub-heading {
    text-align: center;
}


.author-img img{
    max-width: 200px;
    border-radius: 50%;
}

footer{
    width: 55%;
    margin: auto;
    background-color: #14181d;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    header, nav {
        margin: 30px;
    }

    nav{
        width: 60%;
    }

    main{
        width: 80%;
    }

    .logo img{
        width: 80px;
        height: auto;
    }

    main h1, .sub-heading{
        text-align: center;
        font-size: 50px;
    }

    .multi-paragraph{
        column-count: 1;
    }

    .image-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container div{
        grid-area: span 1;
    }

    .album-cover-4{
        display: none;
    }

    .intro, .multi-paragraph{
        padding:30px;
    }

    .author-section{
        margin: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
        gap: 30px;
        
    }

    footer{
        width: 80%;
    }
}

@media screen and (max-width: 720px){
    header, nav {
        margin: 20px;
    }

    main{
        width: 100%;
    }

    nav{
        width: 80%;
    }
    
    .image-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .intro, .multi-paragraph{
        padding: 20px;
    }

    .author-section{
        display: flex;
        flex-direction: column-reverse;
    }

    .author-section{
        padding: 20px;
        gap:20px
        
    }

    footer{
        width: 100%;
        padding: 5px;
        font-size: 18px;
    }
}


@media screen and (max-width: 540px) {
    header, nav {
        margin: 12px;
    }

    nav{
        width: 100%;
    }

    .intro, .multi-paragraph{
        padding: 12px;
        gap: 12px;
    }

    .author-section{
        padding: 12px;
    }

    footer{
        font-size: 16px;
    }

}
